.slick-dots {
    bottom: -30px;
}

.slick-dots li button:before {
    font-size: 10px;
    color: white;
    opacity: 0.5;
    transition: color 0.3s, opacity 0.3s;
}

.slick-dots li.slick-active button:before {
    color: #4caf50;
    opacity: 1;
}